* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}



html {
    font-size: 1px;
}


.header {
    font-size: 12rem;
}

.header-line hr {
    position: relative;
}

.header-line span {
    position: absolute;
    background-color: #f8e072;
    left: 48.4%;
    top: 1px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

a {
    color: #0087e4;
}

.wrapper {
    width: 100%;
    max-width:940px;
    margin: auto;
}

.first_line {
    border-top: 15px solid #f8e27b;
    margin-bottom: 15px;
}

.header_last_line {
    border-top: 2px solid #f8e072;
}

.second_line {
    opacity: 0.302;
    height: 1px;
    background-color: #0193e9;
    margin-bottom: 35px;
}

.header-content-first_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header-content-first_menu-buttons {
    display: flex;
    justify-content: space-between;
    width: 28%;
    position: relative;
}

.header-content-first_menu-buttons a {
    padding: 10px 20px 10px 40px;
    background-color: #f8e27b;
    border-radius: 100px;
    text-decoration: none;
    font-size: 14rem;
    color: #433939;
    font-weight: bold;
    transition: .3s;
}

.header-content-first_menu-buttons a:hover{
    background-color: #ffa323;
}

.header-content-first_menu-buttons a:first-child {
    /* position: absolute; */
    position: relative;
}

.header-content-first_menu-buttons a:first-child:before {
    content: url(../images/before_after/pencil.png);
    /*     background-repeat: no-repeat; */
    width: 16px;
    height: 16px;
    /* right: 20px; */
    left: 15px;
    /*     background-image: url(../images/before_after/pencil.png); */
    /* position: relative; */
    position: absolute;
}

.header-content-first_menu-buttons a:last-child {
    /* position: absolute; */
    position: relative;
    /* margin-left: 150px; */
    margin-left: 20px;
}

.header-content-first_menu-buttons a:last-child:before {
    content: url(../images/before_after/shekils.png);
    /*     background-repeat: no-repeat; */
    width: 16px;
    height: 16px;
    /* right: 100px; */
    left: 15px;
    /*     background-image: url(../images/before_after/pencil.png); */
    /* position: relative; */
    position: absolute;
}

.header-content-first_menu-socials {
    display: flex;
    justify-content: space-between;
    width: 15%;
    text-align: center;
    margin-right: 10px;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.socials a {
    font-size: 12rem;
    line-height: 22rem;
}

.socials a:nth-child(1) {
    position: relative;
}

.socials a:nth-child(1):before {
    content: " ";
    background-repeat: no-repeat;
    background-image: url(../images/before_after/skype.png);
    width: 16px;
    height: 16px;
    left: -20px;
    top: 4px;
    position: absolute;
}

.socials a:nth-child(2) {
    position: relative;
}

.socials a:nth-child(2):before {
    content: " ";
    background-repeat: no-repeat;
    background-image: url(../images/before_after/kvitka.png);
    width: 16px;
    height: 16px;
    left: -20px;
    top: 4px;
    position: absolute;
}

.socials a:nth-child(3){
    display: none;
}

.socials a:nth-child(4) {
    position: relative;
}

.socials a:nth-child(4):before {
    content: " ";
    background-repeat: no-repeat;
    background-image: url(../images/before_after/sobaka.png);
    width: 16px;
    height: 16px;
    left: -20px;
    top: 4px;
    position: absolute;
}


.header-content-second_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.header-content-second_menu-log_in span {
    display: flex;
    align-items: baseline;
}

.header-content-second_menu-log_in span:first-child>a{
    text-decoration-style: dashed;
} 

.header-content-second_menu-log_in a {
    font-size: 12rem;
    line-height: 18rem;
}

.header-content-second_menu-log_in span:first-child {
    margin-bottom: 25px;
}

.header-content-second_menu-log_in span:first-child p {
    font-size: 16rem;
    color: #676767;
    font-weight: bold;
    margin-left: 10px;

}

.header-content-second_menu-log_in span:last-child p {
    color: #3b4247;
    margin: 0px 5px;
}

.header-content-second_menu-menushka {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.logo img {
    margin-right: 87px;
}

.header-content-second_menu-menushka a:first-child {
    position: relative;
    margin-bottom: 25px;
}

.header-content-second_menu-menushka a:first-child::before {
    content: url(../images/before_after/korzyna.png);
    width: 18px;
    height: 17px;
    left: -28px;
    top: -1px;
    position: absolute;
}

.header-content-second_menu-menushka a:last-child {
    position: relative;
    margin-bottom: 25px;
}

.header-content-second_menu-menushka a:last-child::before {
    content: url(../images/before_after/like.png);
    width: 18px;
    height: 14px;
    left: 12px;
    top: 1px;
    position: absolute;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 85%;
    margin: auto;
    margin-bottom: 15px;
}

nav ul a {
    font-size: 14rem;
    line-height: 32rem;
    color: #676767;
    font-style: italic;
    text-decoration: none;
    font-family: "Georgia";
}

nav ul li:first-child a {
    font-size: 14px;
    line-height: 32px;
    text-decoration: underline;
    color: #0193e9;
    font-style: italic;
}

.catalog-tovariv {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.catalog-tovariv li {
    cursor: pointer;
}

.catalog-tovariv p {
    font-size: 14rem;
    color: #676767;
    font-weight: bold;
    text-transform: uppercase;
}

.catalog-tovariv li:first-child p {
    font-size: 14rem;
    text-transform: uppercase;
    color: #0193e9;
    font-weight: bold;
}

.catalog-tovariv li:first-child p {
    position: relative;
}

.catalog-tovariv li:first-child p:after {
    content: url(../images/before_after/line.png);
    top: 20.5px;
    left: 0px;
    width: 60px;
    height: 2px;
    color: #0087e4;
    position: absolute;
}

.header-content-third_menu {
    padding-bottom: 15px;
}

.main {
    font-size: 12rem;
}

.vizerunok {
    width: 100%;
    position: absolute;
    z-index: -1;
}


.main-content {
    z-index: 0;
}

.add{
    display: flex;
}

.big-card-content {
    background-color: #fff;
    border: 3px solid #f4cf23;
    align-items: center;
    position: relative;

}

.big-card-offer {
    padding-left: 55px;
    width: 50%;

}

.big-card-offer a{
    display: inline-block;
}

/*  */

.big-card-content {
    display: flex;
    justify-content: space-between;
}

/*  */

.add-card-zagolovok h3 {
    font-size: 32rem;
    text-transform: uppercase;
    color: #0193e9;
    margin-bottom: 20px;
}

.add-card-zagolovok p {
    width: 80%;
    margin-bottom: 40px;
}

.add-card-cina {
    font-size: 22rem;
    color: #2e353a;
    font-weight: bold;
    position: relative;
    padding-left: 20px;
    margin-bottom: 50px;
}

.add-card-cina::before {
    content: url(../images/before_after/cinyk.png);
    width: 21px;
    height: 25px;
    left: 0px;
    position: absolute;
}



.big-card-arrows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin: auto;
    position: relative;
    top: 173px;
    z-index: 1;
}

.left-arrow{
    cursor: pointer;
}

.right-arrow img{
    transform: rotate(180deg);
    cursor: pointer;
}

.add-card-offer{
    display: inline;
}

.add-card-offer a{
    font-size: 14rem;
    text-decoration: underline;
    color: #0193e9;
    font-style: italic;
    font-family: "Georgia";
    position: relative;
}

.add-card-offer a::after{
    content: url(../images/before_after/act10.png);
    position: absolute;    
    top: -15px;
    right: -60px;
    width: 48px;
    height: 48px;
    
}

.big-card-content img{
    padding-top: 10px;
}

.card-small{
    display: flex;
    background-color: #ffffff;
    border: 3px solid #0193e9;
}

.small-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-small img{
    padding: 5px 0px 5px;
}

.card1-offer{
    padding-top: 5px;
    padding-left: 10px;
}

.card1-offer a{
    width: 100%;
}

.card1-cina{
    font-size: 18rem;
    color: #676767;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 20px;
    position: relative;
}

.card1-cina::before {
    content: url(../images/before_after/cinyk.png);
    width: 21px;
    height: 25px;
    left: -20px;
    top: 18px;
    position: absolute;
}

.podob_magaz{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 40px;
}

.podob_magaz h2{
    font-size: 22rem;
    text-transform: uppercase;
    color: #0193e9;
    margin-bottom: 30px;
}

.why_us {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.because1,
.because2,
.because3{
    margin-left: 80px;
}

.why_us i{
    font-size: 14rem;
    letter-spacing: 0rem;
    color: #676767;
    font-family: "Georgia";
}
.why_us h3{
    font-size: 14rem;
    text-transform: uppercase;
    color: #676767;
    margin-bottom: 15px;
    padding-top: 20px;
}

.why_us p{
    font-size: 12rem;
    color: #676767;
    margin-bottom: 20px;
}

.why_us a{
    font-size: 12rem;
    color: #0193e9;
}

.because1 i{
    position: relative;
}

.because1 i:before{
    content: url(../images/penzel.png);
    width: 64px;
    height: 64px;
    left: -80px;
    top: 0;
    position: absolute;
}

.because2 i{
    position: relative;
}

.because2 i:before{
    content: url(../images/call_center.png);
    width: 64px;
    height: 64px;
    left: -80px;
    top: 0;
    position: absolute;
}

.because3 i{
    position: relative;
}

.because3 i:before{
    content: url(../images/curyer.png);
    width: 64px;
    height: 64px;
    left: -80px;
    top: 0;
    position: absolute;
}

.designers_futbolki{
    margin-bottom: 30px;
}

.designers_futbolki-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.designers_futbolki-heading h2{
    font-size: 22rem;
    color: #0193e9;
    margin-bottom: 15px;
}

.designers_futbolki-heading hr{
    margin: auto;
    border-top: 2px solid #000;
    width: 56px;
    margin-bottom: 10px;
}

.designers_futbolki-heading i{
    color: #0193e9;
    font-family: "Georgia";
}

.cards__card{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cards__card figure{
/*     display: flex;
    justify-content: center; */
    display: inline-block;
    border: 3px solid #fff;
    padding: 25px 0px;
    transition: .3s;
    margin: 0;
}


.cards__card figure:hover{
    border: 3px solid #0087e4;
    cursor: pointer;
}

/* .cards__card_first figure figcaption h3, p, b, a{
    display: inline;
} */

.cards__card figure img{
    width: 230px;
/*     margin-left: %; */
    margin-bottom: 30px;
}



.cards__card figure figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__card figure figcaption h3{
    font-size: 14rem;
    color: #0193e9;
}

.cards__card figure figcaption p{
    font-size: 14rem;
    color: #32393d;
    margin-bottom: 20px;
}

.cards__card figure figcaption b{
    font-size: 18rem;
    color: #676767;
    margin-bottom: 15px;
}

.cards__card figure figcaption a{
    padding: 10px 25px 10px 45px;
    font-size: 14rem;
    color: #4e443b;
    font-weight: bold;
    background-color: #fae851;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    transition: .3s;
}
.cards__card figure figcaption a:hover{
    background-color: #ffa323;
}
.cards__card figure figcaption a::before{
    content: url(../images/before_after/black_korzyna.png);
    width: 19px;
    height: 18px;
    top: 9px;
    left: 15px;
    position: absolute;
}

.first_line_cards{
    position: relative;
}

.card_arrow{
    position: absolute;
    top: 150px;
    right: 0px;
}

.card_arrow a{
    display: inline-block;
    background-color: #f4cf23;
    text-decoration: none;
    font-size: 36rem;
    font-weight: bold;
    border-radius: 100%;
    padding: 3px 20px 8px 20px;
    transition: .3s;
}

.card_arrow a:hover{
    background-color: #0087e4;
    color: #f4cf23;
}

/* .second_line__cards{
    position: absolute;
} */

.second_line_arrows{
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    position: absolute;
    top: 580px;
    width: 100%;
}

.second_line_arrows .left-arrow{
    display: inline-block;
    background-color: #f4cf23;
    text-decoration: none;
    font-size: 36rem;
    font-weight: bold;
    border-radius: 100%;
    padding: 3px 20px 8px 20px;
    transition: .3s;
}

.second_line_arrows .left-arrow:hover{
    background-color: #0087e4;
    color: #f4cf23;
}


.second_line_arrows .right-arrow{
    display: inline-block;
    background-color: #f4cf23;
    text-decoration: none;
    font-size: 36rem;
    font-weight: bold;
    border-radius: 100%;
    padding: 3px 20px 8px 20px;
    top: 150px;
    transition: .3s;
}

.second_line_arrows .right-arrow:hover{
    background-color: #0087e4;
    color: #f4cf23;
}

.more_items{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 22rem;
    color: #0193e9;
    font-style: italic;
    font-family: "Georgia";
    text-decoration-style: dashed;
}

.new_product {
    margin-bottom: 30px;
}

.new_product h2{
    font-size: 45rem;
    color: #0193e9;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.new_product_line{
    border-top: 1px solid #0087e4;
    margin-bottom: 30px;
    opacity: 0.3;
}

.new_product_line_bottom{
    border-top: 1px solid #0087e4;
    opacity: 0.3;
}

.new_product_cards{
    display: flex;
    justify-content: space-between;
    margin: 0px 25px 25px 25px;

}

.new_product_card figure figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.new_product_card img{
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.new_product_card b{
    font-size: 14rem;
    color: #676767;
    display: block;
    margin-bottom: 25px;

}
.new_product_card_button a{
    padding: 10px 15px 10px 30px;
    font-size: 14rem;
    color: #4e443b;
    font-weight: bold;
    background-color: #fae851;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    transition: .3s;
}

.new_product_card_button a::before{
    content: url(../images/before_after/black_korzyna.png);
    width: 19px;
    height: 18px;
    top: 9px;
    left: 8px;
    position: absolute;
}

.new_product_card_button a:hover{
    background-color: #ffa323;
}

.referal{
    display: flex;
    justify-content: space-between;
    width: 57%;
    margin-bottom: 60px;
}

.referal span{
    display: flex;
    align-items: center;
}
.referal span h2{
    font-size: 40rem;
    line-height: 40rem;
    color: #0193e9;
    margin-right: 20px;
}

.referal span p{
    font-size: 103rem;
    line-height: 103rem;
    color: #f2de36;
    font-weight: bold;
}

.penultimate_block{
    display: flex;
    justify-content: space-between;
}

.news,
.reviews
{
    width: 45%;
}

.penultimate_block h3{
    font-size: 18rem;
    color: #0193e9;
}

.penultimate_block a{
    font-size: 12rem;
    color: #0193e9;
    font-style: italic;
    font-family: "Georgia";
}

.penultimate_block hr{
    border-top: 1px solid #0087e4;
    opacity: 0.3;
    width: 100%;
    margin-bottom: 20px;
}

.penultimate_block h4{
    font-size: 14rem;
    color: #0085e3;
    margin-bottom: 10px;
}

.penultimate_block p{
    font-size: 12rem;
    line-height: 18rem;
    color: #676767;
    margin-bottom: 15px;
}

.news_heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}



.news_section{
    margin-bottom: 30px;
}

.reviews_heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.reviews_section{
    margin-left: 80px;
    margin-bottom: 30px;
}

.reviews_section h4{
    position: relative;
    color: #2e353a;
}

.reviews_section h4::before{
    content: url(../images/ava_image/woman.png);
    width: 73px;
    height: 73px;
    left: -80px;
    top: -30px;
    position: absolute;
}
.vizerunok_bottom{
    width: 100%;
    transform: rotate(180deg);
}

.footer{
    font-size: 14rem;
}

.footer_main_content{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 40px;
}

.footer_socials{
    width: 25%;
}

.footer .socials{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 21px;
}

.footer .socials a:nth-child(1),
.footer .socials a:nth-child(2){
    margin-bottom: 15px;
}

.footer .socials .kvitka_soc{
    margin-right: 50px;
}

.footer .socials a:nth-child(3){
    display: inline;
    position: relative;
}

.footer .socials a:nth-child(3)::before{
    content: url(../images/before_after/phone.png);
    left: -14px;
    top: 5px;
    position: absolute;
}

.footer_menu{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.footer_menu h4{
    font-size: 14rem;
    color: #676767;
    margin-bottom: 15px;
}

.footer_menu a{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.footer_contancts{
    display: flex;
    flex-direction: column;
}

.footer_contancts b{
    font-size: 20rem;
    color: #676767;
    margin-bottom: 20px;
}

.footer .header-content-first_menu-socials {
    width: 60%;
    margin-bottom: 17px;
}

.footer_text{
    opacity: 0.6;
    font-size: 11rem;
    color: #818181;
    padding-bottom: 30px;
}

.footer_bottom_line{
    display: block;
    padding: 17px 0px;
    font-size: 12rem;
    color: #fff;
    text-align: center;
    background-color: #0087e4;
}

.discount{
    position: relative;
}

.discount::before{
    content: url(../images/before_after/act10.png);
    width: 35px;
    height: 35px;
    right: 20px;
    position: absolute;

}